@media (max-width: 375px) {
    h1{
        font-size: 3rem !important;
    }
    .btn-inicio{
        font-size: .8rem;
    }

    footer{
        font-size: .6rem !important;
    }

    .center{
        margin-top: .7rem;
        width: 6rem;
        height: 3rem;
    }
}