@media (max-width: 768px){
    h1{
        font-size: 4rem;
    }

    .btn-inicio{
        width: 25vw;
        height: 10vh;
        word-wrap:break-word;
    }

    .flex-ficha{
        width: 80%;
    }
}