.subtitle{
    text-align: center;
}

.text-lb{
    color: #3BACD9;
    -webkit-text-stroke: .0003rem #362D59;
}

.bg-transparente{
    width: 48.75rem;
    height: 15rem;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 3.6875rem;
}

.btn-inicio{
    width: 11.4244rem;
    height: 6.25rem;
    background-color: #3530BF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.selectores-inicio div:nth-child(1) a .btn-inicio{
    border-radius: 1.875rem 3.125rem;
}
.selectores-inicio div:nth-child(2) a .btn-inicio{
    border-radius: 3.125rem 1.875rem;
}

.flex{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

section a{
    color: #fff;
    text-decoration: none;
}

.main-inicio{
    height: 90vh;
    background-image: url(../assets/inicio/fondo.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

.titulo-inicio{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectores-inicio{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items:center;
}